body {
    background-color: #FEFEFE;
    font-family: Garamond;
    font-size: 15px;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: Times New Roman;
    font-size: 20px;
}
